
*.tfrecord-00000-of-00001
C1 Custom Models, Layers, and Loss Functions with TensorFlow/W (2)/W2_Assignment/.hidden
C1 Custom Models, Layers, and Loss Functions with TensorFlow/W (1)/Ungraded Labs/data/ENB2012_data.xlsx
